$white-900: #fff;
$black-50: #FBFBFB;
$black-100: #F5F5F5;
$black-200: #E1E1E1;
$black-250: #D8D8D8;
$black-300: #C0C0C0;
$black-350: #ACACAC;
$black-400: #999999;
$black-500: #7B7B7B;
$black-600: #5B5C5C;
$black-700: #434444;
$black-800: #2B2B2B;
$black-900: #0B0C0C;

