@import '../../../util/util';

.wrap {
  width: 100%;
  display: flex;
  background: $white-900;
  padding: 12px;
  justify-content: center;
  align-items: center;
  line-height: 1;
  font-size: 1rem;
  color: $black-700;
  font-weight: bold;
}

.logo {
  width: 62px;
  height: 20px;
  background: url("../../resources/svg/logo.svg") no-repeat;
}
