@import '../../util/util.scss';

.wrap {
  width: 100%;
  height: 100vh;
  background: $black-900;
  display: flex;
  justify-content: center;
  align-items: center;

}

.logo {
  font-size: 2rem;
  color: $white-900;
  font-weight: bold;
}
